<div class="panel-body">
  <p><strong>Author:</strong> {{story.author}}</p>
  <p><strong>Date:</strong> {{story.date}}</p>
</div>
<div class="panel-image">
  <img src={{story.image}}>
</div>
<div class="panel-footer">
  <button {{action 'delete' story}} class="btn btn-danger">Delete Story</button>
</div>
